/* PrismJS 1.24.1
https://prismjs.com/download.html#themes=prism&languages=clike+bash+c+dart+json+json5+python+rust+zig
*/
/**
 * This is a custom theme matched to the blog.
 * Languages: C-like, Bash + Shell, C, Dart, JSON + Web App Manifest, JSON5, Python, Rust, Zig
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #000000;
  background: none;
  font-size: 0.9em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

@media (prefers-color-scheme: dark) {

  code[class*="language-"],
  pre[class*="language-"] {
    color: #f8f8f2;
  }
}

/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
  border-radius: 1em;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
  background: #fffbed;
}

@media (prefers-color-scheme: dark) {

  :not(pre)>code[class*="language-"],
  pre[class*="language-"] {
    background: #26292d;
  }
}

/* Inline code */
:not(pre)>code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #623e2c;
}

.token.punctuation {
  color: #00000087;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #5728aa;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #376402;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #000000;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #931f3a;
}

.token.keyword {
  color: #173caa;
}

@media (prefers-color-scheme: dark) {
  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #8292a2;
  }
  
  .token.punctuation {
    color: #f8f8f2a3;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #a6e22e;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string,
  .token.variable {
    color: #f8f8f2;
  }

  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.class-name {
    color: #f97191;
  }

  .token.keyword {
    color: #66d9ef;
  }
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}