@import url("/fonts.css");

/* generic stuff */

:root {
    --pink: #f97191;
    --yellow: #ffb152;
    --orange: #ff9752;
    --green: #7ece64;
    --turquoise: #64ceb5;
    --purple: #c59bff;

    --accent-color: #f97191;
    --main-bg-color: white;
    --main-fg-color: black;
    --main-selection-bg-color: var(--accent-color);
    --main-selection-fg-color: white;
    --nav-bg-color: var(--accent-color);
    --nav-fg-color: white;
    --nav-selection-bg-color: white;
    --nav-selection-fg-color: black;

    --sans: "IBM Plex Sans";
    --serif: "IBM Plex Serif";
    --mono: "IBM Plex Mono";
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #222;
        --main-fg-color: white;
        --nav-fg-color: #222;
        --nav-selection-bg-color: #222;
        --nav-selection-fg-color: white;
    }
}

a {
    color: var(--main-fg-color);
}

.secondary {
    /* stuff like the date and topics */
    font-family: var(--sans), sans-serif;
    opacity: 0.5;
}

.topic {
    color: var(--main-fg-color);
    text-decoration: none;
}
.topic:hover {
    text-decoration: underline;
}

/* stuff for print mode */

.only-screen {
    display: none;
}
@media screen {
    .only-screen {
        display: inline-block;
    }
}

.only-print {
    display: none;
}
@media print {
    .only-print {
        display: inline-block;
    }
}

/* general layout */

html,
body {
    margin: 0;
    padding: 0;

    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    font-family: var(--serif);
}

.column {
    position: relative;
    width: 100%;
    max-width: 64rem;
    margin: auto;
}
main {
    width: 100%;
    max-width: 50rem;
    margin-top: 2rem;
    /* Instead of having a fixed amount of margin on the left and right of the
     * content, the content parts manage those margins themselves. This way, we
     * can add exceptions. For example, on small displays, code blocks and
     * images stretch from edge to edge. */
    --padding: 16px;
}
@media (max-width: 400px) {
    main {
        --padding: 8px;
    }
}
aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 12rem;
}

/* index header */

header {
    font-family: var(--sans), sans-serif;
}
header * {
    --padding: 0rem;
}
header h1 {
    margin-bottom: 2rem !important;
}

header ul {
    padding-left: 2rem;
}
header li {
    margin-bottom: 1rem;
}

header .image-of-me {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    background-color: var(--yellow);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* the aside part */

aside {
    font-family: 'IBM Plex Sans';
    /* background-color: var(--yellow); */
}

aside .me {
    position: relative;
    width: 12rem;
    height: 12rem;
}
aside .image-of-me {
    width: 12rem;
    height: 12rem;
    background-color: var(--yellow);
    border-radius: 50%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

aside .speech-bubble {
    position: absolute;
    bottom: 0;
    width: 12rem;
    height: 2.087rem; /* 12rem / 1673 * 291 */
}

aside ul {
    padding-left: 1rem;
}
aside li {
    margin: 0.2rem 0;
}
aside li .count {
    opacity: 0.5;
    background: #ddd;
    padding: 0 0.2em;
    font-size: 12px;
    border-radius: 0.2em;
}

footer {
    font-size: 0.8rem;
    margin: 0 var(--padding);
}

/* main content */

main>* {
    margin: 0 var(--padding);
}
main {
    line-height: 1.7;
    font-size: 1rem;
}
main ::selection {
    background: var(--main-selection-bg-color);
    color: var(--main-selection-fg-color);
}

main h1 {
    font-family: var(--sans), sans-serif;
    font-size: 3rem;
    line-height: 1;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
@media (max-width: 750px) {
    main h1 {
        font-size: 2rem;
    }
}
main h1 a {
    text-decoration: none;
}
main h1 a:hover {
    text-decoration: underline;
}

main h2,
main h3,
main h4,
main h5,
main h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    line-height: 1;
}

main h2,
main h3,
main h4,
main h5,
main h6,
main strong {
    font-family: var(--sans);
}

main p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main ul,
main ol {
    margin: 1rem var(--padding);
    padding-left: 4rem;
}
main ul>*,
main ol>* {
    --padding: 0rem;
}
@media (max-width: 600px) {
    ul,
    ol {
        padding-left: 2rem;
    }
}

blockquote {
    border-left: 4px solid var(--accent-color);
    padding-left: 1rem;
}
@media (max-width: 400px) {
    blockquote {
        padding-left: 0.5rem;
    }
}

main pre {
    margin: 0;
    padding: 1rem var(--padding);
}
main code {
    font-family: var(--mono);
}
@media (max-width: 50rem) {
    main pre[class*="language-"] {
        border-radius: 0;
    }
}

hr {
    width: 50%;
    height: 4px;
    margin: 3rem auto;
    border: none;
    border-radius: 2px;
    background: var(--green);
}
@media print {
    hr {
        background: none;
        border-radius: 0;
        border-top: 1px solid var(--green);
    }
}

img {
    max-width: 100%;
    max-height: 30rem;
    border-radius: 1rem;
}
@media (prefers-color-scheme: dark) {
    .invertable-image {
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }
}

video {
    max-width: 100%;
    max-height: 30rem;
    border-radius: 1rem;
}

audio {
    margin-top: 1rem;
    border-radius: 1rem;
}

@media screen {
    .footnote-key {
        background: var(--yellow);
        padding: 0.2rem;
        border-radius: 0.2rem;
        color: black;
        text-decoration: none;
        font-family: var(--sans);
    }
}
@media print {
    .footnote-key {
        padding: 0;
        font-family: sans-serif;
    }
    .footnote-key::before {
        content: '[';
    }
    .footnote-key::after {
        content: ']';
    }
}
.footnote-def {
    display: flex;
    margin-bottom: 1rem;
}
.footnote-def-key {
    min-width: 4rem;
}
.footnote-def-value>p {
    margin: 0;
}
@media (max-width: 600px) {
    .footnote-def-key {
        min-width: 2rem;
    }
}

.card {
    width: calc(100% - 2 * var(--padding));
    margin: 0;
    padding: 1rem var(--padding);
    color: black;
    border-radius: 1rem;
}
@media (max-width: 50rem) {
    .card {
        border-radius: 0;
    }
}
.card ::selection {
    background: black;
    color: white;
}
.after-article-card {
    margin: 2rem 0 3rem 0;
    background: var(--yellow);
}
.after-article-card .topic {
    color: black;
    text-decoration: underline;
    font-family: var(--sans), sans-serif;
}

.read-more-container {
    padding: 1rem 0;
    margin-top: 1rem;
}
.read-more-button {
    border: 2px solid;
    padding: 1rem;
    border-radius: 42cm;
}

/* the timeline */

.timeline {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.timeline-entry {
    margin: 0.8rem 0;
    display: flex;
}

.timeline-date {
    width: 7rem;
    min-width: 7rem;
    line-height: 1.2;
}

.timeline-title {
    margin: 0;
}

.timeline-title-text {
    color: var(--main-fg-color);
    text-decoration: none;
    line-height: 1.2;
}

.timeline-title-text:hover {
    text-decoration: underline;
}
