<h1 id="title">{{title}}</h1>
<h2 class="subtitle">{{subtitle}}</h2>
<div class="infos">
    <div>by <a href="/">Marcel Garus</a> · {{info}}</div>
    <div class="only-print">available at www.marcelgarus.dev/{{id}}</div>
</div>
{{body}}
<script>
    const desiredScrollPosition = JSON.parse(sessionStorage.getItem('scrollTo'));
    sessionStorage.removeItem('scrollTo');
    if (typeof desiredScrollPosition === 'number') {
        window.scrollTo(window.scrollX, desiredScrollPosition);
    }
</script>
