<img
  src="me.jpeg"
  style="
    float: right;
    max-width: 20rem;
    margin-left: 2rem;
    border-radius: 1rem;
    background-color: black;
  "
/>
<h1>Marcel Garus</h1>
<p>That's my name. This is my website. Here's a bit about myself:</p>

<ul>
  <li>
    <p>
      <b>I'm a PhD student</b> at the Hasso Plattner Institute in Potsdam,
      Germany.
    </p>
  </li>
  <li>
    <p>
      <b>I like making programming languages,</b> most of which are
      <a href="https://github.com/MarcelGarus">on GitHub</a>.
    </p>
  </li>
  <li>
    <p>
      <b>Sometimes I write <a href="/articles">blog articles</a>,</b> primarily
      about programming.
    </p>
  </li>
</ul>

<p>
  If you want to get in contact, here are some options sorted in my preference
  order:<br />
  <a href="https://t.me/MarcelGarus">Telegram</a>,
  <a href="https://wa.me/+4915751770663">WhatsApp</a>,
  <a href="mailto:hello@marcelgarus.dev">Email</a>
</p>
