<img src="me.webp" style="float: right; max-width: 10rem; margin-left: 2rem; border-radius: 50%; background-color: #ffb152;">
<h1>Marcel Garus</h1>
<p>That's my name. This is my website. Here's a bit about myself:</p>

<ul>
    <li><p>
        <b>I'm a student at the Hasso Plattner Institute.</b>
        Currently, I'm doing my Master's degree in IT Systems Engineering here in Potsdam, Germany.
    </p></li>
    <li><p>
        <b>I do a lot of programming.</b>
        I have a bunch of repos <a href="https://github.com/MarcelGarus">on GitHub</a>.
        Currently, I work mostly with Rust, Zig and <a href="https://github.com/MarcelGarus/martinaise">Martinaise</a>, my own language.
    </p></li>
    <li><p>
        <b>Sometimes I write <a href="/articles">blog articles</a>.</b>
        Most articles are about programming – I wrote about {{topics}}.
    </p></li>
</ul>

<p>
    If you want to get in contact, here are some options sorted in my preference order:<br>
    <a href="https://t.me/MarcelGarus">Telegram</a>,
    <a href="https://wa.me/+4915751770663">WhatsApp</a>,
    <a href="mailto:hello@marcelgarus.dev">Email</a>
</p>
