<!DOCTYPE html>
<html>

<head prefix="og:http://ogp.me/ns#">
    <title>{{title}} – Marcel Garus</title>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#f97191" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/icon.png" />
    <link href="/style.css" rel="stylesheet" />

    {{metadata}}
</head>

<body>
    <main>
        {{content}}
        <footer class="secondary only-screen">
            <a href="/">about me</a>,
            <a href="/articles">all articles</a>,
            <a href="https://github.com/MarcelGarus/server">source code</a>,
            <a href="/rss">RSS feed</a>,
            <a href="/imprint">imprint</a>,
            <a href="/privacy-policy">privacy policy</a>
        </footer>
    </main>
</body>

</html>
