<style>
  timeline { margin: 0; line-height: 1.2; }
  tl-entry { display: flex; margin-left: var(--padding); margin-right: var(--padding); margin-bottom: 1rem; }
  tl-date { width: 7rem; min-width: 7rem; font-variant-numeric: tabular-nums; }
  tl-content { margin: 0; }
  tl-content > a { margin-right: 1rem; text-decoration: none; font-weight: bold; }
  tl-content > a:hover { text-decoration: underline; }
</style>
<h1>{{title}}</h1>
<p>{{intro}}</p>
<timeline>{{timeline}}</timeline>
<p>{{outro}}</p>
